<div class="youtube-video-card card">
  <a href="<%= result.link %>" target="_blank">
    
    <div class="video-title card-body">
        <p><strong><%= result.title %></strong></p>
        <p class="video-description"><%= result.description %></p>
    </div>
    <img
      src="<%= result.thumbnail %>"
      alt="<%= result.title %>"
      class="video-thumbnail"
    />
  </a>
</div>
